<!--<h2>This is Detail Component</h2>

<div class="row">
    <div class="col-md-3"><b>Employee Name</b></div><div class="col-md-3">{{CourseDetails.CorsoId}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Designation</b></div><div class="col-md-3">{{CourseDetails.Titolo}}</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Skills</b></div><div class="col-md-3">{{CourseDetails.DurataAnni}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>ProjectName:</b></div><div class="col-md-3">{{CourseDetails.Nome}}</div>
</div>
-->